
    @import url(/css/variables.css);


    body {
        
        
        background: var(--my-black);

        max-width: 1080px;
        width: 95%;
        margin:auto
    }

    * {
        color: var(--my-white);
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    article {
        border-style: solid;
        border-color: var(--my-white);
        border-width: 1px;
        padding: 8px;
    }

    a {
        font-weight: bold;
        margin: 0px 8px;
    }
    a:hover {
        background-color: var(--my-white);
        color: var(--my-black);
    }

    ul {
        list-style-position: inside;
    }
 
    ul.link-list {
        list-style: none;
        
    }

    ul.link-list li {

        width: 100%;
        margin: 16px;
        background-color: var(--my-white);
        padding: 2px;
        
        
    }

    ul.link-list li.expired {
        background-color: var(--my-grey);
    }

    ul.link-list li * {
        color: var(--my-black);
    }

    ul.link-list li a {
        color: var(--my-black);

        width: 100%;
    }

    ul.link-list li a:hover {
        background-color: var(--my-black);
        color: var(--my-white);
    }

    
    code {
        font-family: monospace;
        text-wrap: wrap;
        font-size: 0.8rem;
    }

    h1,h2 {
        margin-top: 32px;
    }