
    .passage {

        flex: 1;
        margin: 1%;
        min-width: none;
        min-height: none;

    }

    .slider {
        flex: 1;

        min-width: 50%;
        max-height: 80%;



        background-color:var(--my-black);
        color: var(--my-white);

        overflow: hidden;
        position: relative;

        display: flex;
        align-content: center;
        justify-content: center;

    }

    .slides {
        
        margin: auto;
        position: relative;
        

    }

    .slide {
        display: none;
    }

    .slide.active {
        
        display: block;
        padding: 5%;
        animation: zoom 1.5s ease-in-out;
        
    }
    .slide.active p{
        color: var(--my-white);
        font-size: 0.8rem;
        
    }

    @keyframes zoom {
        from {transform: scale(0);}
        to {transform: scale(1);}
    }

    