:root {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --my-black: #1a1a18;
    --my-white: #F5F2E8;
    --my-grey: #8a8680;

    --my-blue: #1e3878;
    --my-red: #c8302a;
    --my-yellow: #e8c018;

}

